div.card{
    background: #161A23;
    border-radius: 4px;
    padding: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.card div{
    margin: 1rem;
}
.card-header{
    display: flex;
    align-items:center;
}

h2.card-title{
    color: #8C9DB5;
    font-size: 0.8em;
    margin: 0;
    margin-left: 10px;
}

.card-title-image {
    fill:#8C9DB5;
    height: 36px;
    width: auto;
}

div.social-container{
    display: flex;
    align-items:center;
    margin-top: 10px;
}

.social-container  p {
    font-size:0.6em;
    padding: 0;
    margin: 0;
}

img.social-icon{
    height:24px;
    margin-right: 1rem;
}

section.present {
    margin: 0 auto;
    display: block;
    max-width: 480px;
    float: none;
    left: 0;
    right: 0;
}

#device, #gpu, #browser, #plugins, #os, #charging, #level, #dischargingTime, #location, #ip, #speed {
    font-size: 0.6em;
    text-align: left;
}

.map{
    border-radius: 4px;
}

.browser-container, .os-info {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

.os-info img {
    max-width: 48px;
    margin-right: 1rem;
}


.browser-container img {
    max-width: 48px;
    margin-right: 1rem;
}

.label {
    border-radius: 4px;
    padding: 0.5rem !important;
    font-size: 0.4em !important;
    margin-left: 0.6rem !important;
    background: blue;
}

@media (max-width: 480px) {
     section.present{
         top: 0 !important;
     }

     .slides{
        width: 100% !important;
        height: auto !important;
        left:0 !important;
        top:0 !important;
        margin: 0 20px !important;
        margin-top: 80px !important; 
        transform: none !important;
     }
}  


@media (max-width: 420px) {
    .main-title {
        padding-top: 1.5rem;
        font-size: 2.5em !important;
    }

    section.present{
        top: 0 !important;
    }

    .slides{
       width: 100% !important;
       height: auto !important;
       left:0 !important;
       top:0 !important;
       margin: 0 20px !important;
       margin-top: 120px !important; 
       transform: none !important;
    }

    .card{
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 0.6em !important;
        width: 85%;
    }
}  